@model EmploymentApp.Models.Models.Applicant

@{
    ViewData["Title"] = "Form";
}

<h1>Employment Application</h1>
<!--EVERYTHING HERE IS SUBJECT TO BE REPLACED, DO NOT CHANGE UNTIL APPLICANT MODEL IS FINISHED-->

<h4>Please fill below</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStreet" class="control-label"></label>
                <input asp-for="AddressStreet" class="form-control" />
                <span asp-validation-for="AddressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressZip" class="control-label"></label>
                <input asp-for="AddressZip" class="form-control" />
                <span asp-validation-for="AddressZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressYears" class="control-label"></label>
                <input asp-for="AddressYears" class="form-control" />
                <span asp-validation-for="AddressYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofBirth" class="control-label"></label>
                <input asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionApplied" class="control-label"></label>
                <input asp-for="PositionApplied" class="form-control" />
                <span asp-validation-for="PositionApplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysAvailable" class="control-label"></label>
                <input asp-for="DaysAvailable" class="form-control" />
                <span asp-validation-for="DaysAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesiredEmployment" class="control-label"></label>
                <input asp-for="DesiredEmployment" class="form-control" />
                <span asp-validation-for="DesiredEmployment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursAvailable" class="control-label"></label>
                <input asp-for="HoursAvailable" class="form-control" />
                <span asp-validation-for="HoursAvailable" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WorkNights" /> @Html.DisplayNameFor(model =>
                                                                                   model.WorkNights)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FiredBefore" /> @Html.DisplayNameFor(model =>
                                                                                    model.FiredBefore)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CrimeBefore" /> @Html.DisplayNameFor(model =>
                                                                                    model.CrimeBefore)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CrimeDate" class="control-label"></label>
                <input asp-for="CrimeDate" class="form-control" />
                <span asp-validation-for="CrimeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimeType" class="control-label"></label>
                <input asp-for="CrimeType" class="form-control" />
                <span asp-validation-for="CrimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="References" class="control-label"></label>
                <input asp-for="References" class="form-control" />
                <span asp-validation-for="References" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferencesEmployers" class="control-label"></label>
                <input asp-for="ReferencesEmployers" class="form-control" />
                <span asp-validation-for="ReferencesEmployers" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DriversLicense" /> @Html.DisplayNameFor(model =>
                                                                                       model.DriversLicense)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OwnCar" /> @Html.DisplayNameFor(model =>
                                                                               model.OwnCar)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Insurance" /> @Html.DisplayNameFor(model =>
                                                                                  model.Insurance)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DLNum" class="control-label"></label>
                <input asp-for="DLNum" class="form-control" />
                <span asp-validation-for="DLNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeModelYear" class="control-label"></label>
                <input asp-for="MakeModelYear" class="form-control" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PersonalVehicle" /> @Html.DisplayNameFor(model =>
                                                                                        model.PersonalVehicle)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Credentials" class="control-label"></label>
                <input asp-for="Credentials" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GraduationDate" class="control-label"></label>
                <input asp-for="GraduationDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Tasks" class="control-label"></label>
                <input asp-for="Tasks" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ContactEmployer" /> @Html.DisplayNameFor(model =>
                                                                                        model.ContactEmployer)
                </label>
            <div class="form-group form-check">
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
            </div>
                        <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>
