@model EmploymentApp.Models.Models.Applicant

@{
    ViewData["Title"] = "Form";
}

<h1>Employment Application</h1> <!--EVERYTHING HERE IS SUBJECT TO BE REPLACED, DO NOT CHANGE UNTIL APPLICANT MODEL IS FINISHED-->

<h4>Please fill below</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStreet" class="control-label"></label>
                <input asp-for="AddressStreet" class="form-control" />
                <span asp-validation-for="AddressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressZip" class="control-label"></label>
                <input asp-for="AddressZip" class="form-control" />
                <span asp-validation-for="AddressZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressYears" class="control-label"></label>
                <input asp-for="AddressYears" class="form-control" />
                <span asp-validation-for="AddressYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofBirth" class="control-label"></label>
                <input asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionApplied" class="control-label"></label>
                <input asp-for="PositionApplied" class="form-control" />
                <span asp-validation-for="PositionApplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesiredSalary" class="control-label"></label>
                <input asp-for="DesiredSalary" class="form-control" />
                <span asp-validation-for="DesiredSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyFirstName" class="control-label"></label>
                <input asp-for="EmergencyFirstName" class="form-control" />
                <span asp-validation-for="EmergencyFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyMiddleName" class="control-label"></label>
                <input asp-for="EmergencyMiddleName" class="form-control" />
                <span asp-validation-for="EmergencyMiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyLastName" class="control-label"></label>
                <input asp-for="EmergencyLastName" class="form-control" />
                <span asp-validation-for="EmergencyLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyAddressStreet" class="control-label"></label>
                <input asp-for="EmergencyAddressStreet" class="form-control" />
                <span asp-validation-for="EmergencyAddressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyAddressCity" class="control-label"></label>
                <input asp-for="EmergencyAddressCity" class="form-control" />
                <span asp-validation-for="EmergencyAddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyAddressState" class="control-label"></label>
                <input asp-for="EmergencyAddressState" class="form-control" />
                <span asp-validation-for="EmergencyAddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyAddressZip" class="control-label"></label>
                <input asp-for="EmergencyAddressZip" class="form-control" />
                <span asp-validation-for="EmergencyAddressZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyPhoneNumber" class="control-label"></label>
                <input asp-for="EmergencyPhoneNumber" class="form-control" />
                <span asp-validation-for="EmergencyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyEmail" class="control-label"></label>
                <input asp-for="EmergencyEmail" class="form-control" />
                <span asp-validation-for="EmergencyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyRelationship" class="control-label"></label>
                <input asp-for="EmergencyRelationship" class="form-control" />
                <span asp-validation-for="EmergencyRelationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyRelationship" class="control-label"></label>
                <input asp-for="EmergencyRelationship" class="form-control" />
                <span asp-validation-for="EmergencyRelationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalHistory" class="control-label"></label>
                <input asp-for="MedicalHistory" class="form-control" />
                <span asp-validation-for="MedicalHistory" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Race" /> Race
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> Gender
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DaysAvailable" class="control-label"></label>
                <input asp-for="DaysAvailable" class="form-control" />
                <span asp-validation-for="DaysAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesiredEmployment" class="control-label"></label>
                <input asp-for="DesiredEmployment" class="form-control" />
                <span asp-validation-for="DesiredEmployment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursAvailable" class="control-label"></label>
                <input asp-for="HoursAvailable" class="form-control" />
                <span asp-validation-for="HoursAvailable" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WorkNights" /> @Html.DisplayNameFor(model => model.WorkNights)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FiredBefore" /> @Html.DisplayNameFor(model => model.FiredBefore)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CrimeBefore" /> @Html.DisplayNameFor(model => model.CrimeBefore)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CrimeType" class="control-label"></label>
                <input asp-for="CrimeType" class="form-control" />
                <span asp-validation-for="CrimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="References" class="control-label"></label>
                <input asp-for="References" class="form-control" />
                <span asp-validation-for="References" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DriversLicense" /> @Html.DisplayNameFor(model => model.DriversLicense)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DLNum" class="control-label"></label>
                <input asp-for="DLNum" class="form-control" />
                <span asp-validation-for="DLNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DLIssueState" class="control-label"></label>
                <input asp-for="DLIssueState" class="form-control" />
                <span asp-validation-for="DLIssueState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DLExpireDate" class="control-label"></label>
                <input asp-for="DLExpireDate" class="form-control" />
                <span asp-validation-for="DLExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MilitaryService" /> @Html.DisplayNameFor(model => model.MilitaryService)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MilitaryDischarge" /> @Html.DisplayNameFor(model => model.MilitaryDischarge)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="YearServed" class="control-label"></label>
                <input asp-for="YearServed" class="form-control" />
                <span asp-validation-for="YearServed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilitaryBranch" class="control-label"></label>
                <input asp-for="MilitaryBranch" class="form-control" />
                <span asp-validation-for="MilitaryBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrafficAccident" class="control-label"></label>
                <input asp-for="TrafficAccident" class="form-control" />
                <span asp-validation-for="TrafficAccident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrafficViolation" class="control-label"></label>
                <input asp-for="TrafficViolation" class="form-control" />
                <span asp-validation-for="TrafficViolation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DrinkAndDrive" /> @Html.DisplayNameFor(model => model.DrinkAndDrive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DistractedDrive" /> @Html.DisplayNameFor(model => model.DistractedDrive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

